<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Estore | {{ catName }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ catName }}">
<meta name="author" content="">
</head>
<body>
	{% include "global/css.html" %} {% include "global/header.html" %}
	<div id="mainBody">
		<div class="container">
			<div class="row">
				<div id="sidebar" class="span3">
				{% include "global/sidebar.html" %}</div>
				<div class="span9">
					<ul class="breadcrumb">
						<li><a href="/estore/">Home</a> <span class="divider">/</span></li>
						<li class="active">Registration </li>
					</ul>
					<h3> Registration</h3>	
					<div class="well">
	<form class="form-horizontal" action=""  method="post" >
		{% csrf_token %}
		<h4>Your personal information</h4>
		{{ form.as_p }}
		<!--
		<div class="control-group">
			<label class="control-label" for="firstName">First name <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="firstName" placeholder="First Name">
			</div>
		 </div>
		 <div class="control-group">
			<label class="control-label" for="lastName">Last name <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="lastName" placeholder="Last Name">
			</div>
		 </div>
		<div class="control-group">
		<label class="control-label" for="input_email">Email <sup>*</sup></label>
		<div class="controls">
		  <input type="text" id="input_email" placeholder="Email">
		</div>
	  </div>	  
	<div class="control-group">
		<label class="control-label" for="inputPassword1">Password <sup>*</sup></label>
		<div class="controls">
		  <input type="password" id="inputPassword1" placeholder="Password">
		</div>
	  </div>	  


		<h4>Your address</h4>
	
		<div class="control-group">
			<label class="control-label" for="address">Address<sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="address" placeholder="Adress"/> <span>Street address, P.O. box, company name, c/o</span>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="address2">Address (Line 2)<sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="address2" placeholder="Adress line 2"/> <span>Apartment, suite, unit, building, floor, etc.</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="city">City<sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="city" placeholder="city"/> 
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="state">State<sup>*</sup></label>
			<div class="controls">
			 <input type="text" id="city" placeholder="state"/> 
			</div>
		</div>		
		<div class="control-group">
			<label class="control-label" for="postcode">Zip / Postal Code<sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="postcode" placeholder="Zip / Postal Code"/> 
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="country">Country<sup>*</sup></label>
			<div class="controls">
				<input type="text" id="city" placeholder="country"/> 
			</div>
		</div>	
		<div class="control-group">
			<label class="control-label" for="aditionalInfo">Additional information</label>
			<div class="controls">
			  <textarea name="aditionalInfo" id="aditionalInfo" cols="26" rows="3">Additional information</textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="phone">Home phone <sup>*</sup></label>
			<div class="controls">
			  <input type="text"  name="phone" id="phone" placeholder="phone"/> <span>You must register at least one phone number</span>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="mobile">Mobile Phone </label>
			<div class="controls">
			  <input type="text"  name="mobile" id="mobile" placeholder="Mobile Phone"/> 
			</div>
		</div>
		
	<p><sup>*</sup>Required field	</p>
	-->
	<p>
	</p>
	<div class="control-group">
			<div class="controls">
				<input type="hidden" name="email_create" value="1">
				<input type="hidden" name="is_new_customer" value="1">
				<input class="btn btn-large btn-success" type="submit" value="Register" />
			</div>
		</div>		
	</form>
</div>
		{% include "global/footer.html"%} {% include "global/scripts.html"%}
</body>
</html>